.DS_Store
.eslintcache
.git
.idea
.nyc_output
.sass-lint.yml
.tern-project
.vagrant
.vscode
*.box
*.iml
*.jar
*.scssc
*.swo
*.swp
*.war
test
coverage
hs_err*.log
logs
node_modules
npm-debug.log
screenshots
selenium-debug.log
yarn-error.log
yarn.lock
package-lock.json
