.DS_Store
.eslintcache
.git
.idea
.nyc_output
.sass-lint.yml
.tern-project
.vagrant
.vscode
*.box
*.iml
*.jar
*.scssc
*.swo
*.swp
*.war
*/_test*
coverage
docker/mongo/data/*
hs_err*.log
jsdoc
logs
node_modules
npm-debug.log
package-lock.json
reports/
resources/scripts/test/tmp/*
restart.sh
screenshots
selenium-debug.log
tests_output/
yarn-error.log
yarn.lock
